<h1>당첨번호는!</h1>

<%= @picking_number1 %>
<%= @picking_number2 %>
<%= @picking_number3 %>
<%= @picking_number4 %>
<%= @picking_number5 %>
<%= @picking_number6 %>

<p>
<%= image_tag @number_image1 %>
<%= image_tag @number_image2 %>
<%= image_tag @number_image3 %>
<%= image_tag @number_image4 %>
<%= image_tag @number_image5 %>
<%= image_tag @number_image6 %>
</p>
<h1>보너스</h1>
<%= @picking_number7 %>
<p><%= image_tag @number_image7 %></p>