<div style = "margin-top:400px; margin-left:500px">
<h1>당첨번호는!</h1>
<p>
<%= image_tag @number_image1 %>
<%= image_tag @number_image2 %>
<%= image_tag @number_image3 %>
<%= image_tag @number_image4 %>
<%= image_tag @number_image5 %>
<%= image_tag @number_image6 %>
</p>
<h1>보너스</h1>
<p><%= image_tag @number_image7 %></p>
</div>